In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('train_amazon.csv')
df_test = pd.read_csv('test_amazon.csv')

In [3]:
df_train.head()

   label                                               text
0      0  Reference Yes, Learning or Instruction No: I p...
1      0  NO!!!!!!I will give it 1 star.: This doll is n...
2      0  Neat Features/Uncomfortable: I bought this wit...
3      1  Progressive-Underground divas??? where's the v...
4      0  The theif who stole a week.: What a stinker! I...

In [4]:
df_test.head()

   label                                               text
0      0  Not worth the money: Banks'book Oscilloscope G...
1      0  I changed my mind: When I first reviewed this ...
2      0  How quickly we fail...: I was initially enthus...
3      0  DOA Did Not Power up out of the box: DOA produ...
4      0  support: I ordered this nursing bra after look...